<div class="teaching-info">
  <h3><%= @teaching.teaching_name %></h3>
  <p><%= @teaching.user.full_name %></p>
  <p><%= @teaching.summary %></p>
</div>
<div class="teaching">
  <%= @teaching.body.html_safe %>
</div>
